<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_index</servlet-name>
        <servlet-class>Controller.servlet_index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_budgetResults</servlet-name>
        <servlet-class>Controller.servlet_budgetResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_smartphoneDetails</servlet-name>
        <servlet-class>Controller.servlet_smartphoneDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_smartphoneDealerDetails</servlet-name>
        <servlet-class>Controller.servlet_smartphoneDealerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_home</servlet-name>
        <servlet-class>Controller.servlet_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_smartphonesByBrand</servlet-name>
        <servlet-class>Controller.servlet_smartphonesByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_latestSmartphones</servlet-name>
        <servlet-class>Controller.servlet_latestSmartphones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_budgetResults</servlet-name>
        <url-pattern>/servlet_budgetResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_smartphoneDetails</servlet-name>
        <url-pattern>/servlet_smartphoneDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_smartphoneDealerDetails</servlet-name>
        <url-pattern>/servlet_smartphoneDealerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_index</servlet-name>
        <url-pattern>/servlet_index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_home</servlet-name>
        <url-pattern>/servlet_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_smartphonesByBrand</servlet-name>
        <url-pattern>/servlet_smartphonesByBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_latestSmartphones</servlet-name>
        <url-pattern>/servlet_latestSmartphones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>servlet_index</welcome-file>
    </welcome-file-list>
</web-app>
